:host {
  display: block;
  min-height: 100vh;
  background: #f4f9fb;
  color: #123c4c;
  font-family: Inter, Arial, sans-serif;
}

.app-main {
  padding-top: 4rem;
  min-height: calc(100vh - 128px);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
